      <div id="channel-wrapper">
        <div id="channel-main-row" class="clearfix">
          <div id="ytapiplayer">
              You need Flash player 8+ and JavaScript enabled to view this video.
          </div>
          <div id="video-sidebar">
              <h2 id="playlist-title">LIST:</h2>
              <div id="video-page-navigation">
                <a id="prev-button" onclick="prevPage()">previous page</a>
                <a id="next-button" onclick="nextPage()">next page</a>
              </div><!-- end video-page-navigation -->
              <div id="video-list-container">
                <a>item</a><br>
                <a>item</a><br>
                <a>item</a><br>
                <a>item</a><br>
                <a>item</a><br>
                <a>item</a><br>
                <a>item</a><br>
                <a>item</a><br>
                <a>item</a><br>
                <a>item</a><br>
            </div><!--end video-container -->
            <hr>
            <div id="video-info">
            </div><!-- end video-info -->
            <% include chat.html %>
          </div><!-- end video-sidebar -->
        </div><!-- end channel-main-row -->
        <div id="playlist-container">
          <div id="playlists">
            ///////////////
          </div>
          
        </div><!-- end playlist-container -->
      </div><!--channel-wrapper-->
