    <div id="chat">
      <div id="errors"></div><!-- end errors -->
      <div id="chat-controls">
        CHAT TIME!!!!!!
        <span id="chat-controls-sound">TURN SOUND OFF</span>
        <span id="chat-controls-openclose">CLOSE</span>
      </div>

      <div id="main-chat-screen">
        <div>
          <ul id="people"></ul>
        </div>
        <div id="conversation">
          <ul id="msgs" class="main-msgs"></ul>
        </div><!-- end conversation -->
        <form id="chatForm">
          <input type="text" placeholder="Your message" id="msg">
          <input type="submit" name="send" id="send" value="Send">
        </form><!-- end chatForm  -->
      </div>
    </div><!-- end chat -->
