
            <div id="stream-wrapper">
              <h2>
                Pizza Suicide TV LIVE
              </h2>
              <div id="livestream">Loading the player ...</div>
              <script type="text/javascript">
                jwplayer("livestream").setup({
                //width : 320,
                //height : 240,
                width : 640,
                height : 480,
                //file: "rtmp://vps59272.ovh.net/live/psctv",
                file: "video/pizzasuicidetvHOLD_TITLE.mp4",
                repeat: true,
                image: "img/brazilvsgermany.jpg",
                autostart:true,
                });
              </script> 
              <p>
                <%= tagline %>
                <a href='/playlists'>the regular show</a>
              </p>
            </div><!--stream-wrapper-->
