<!DOCTYPE html>
<html lang="en" class="playlist-page">
  <head>
    <% include partials/head.html %>
  </head>
  <body>

    <% include partials/login.html %>

    <div id="main-wrapper">
    <% include partials/header.html %>
    <% include partials/channel.html %>
    </div><!-- main-wrapper -->

  <script src="bower_components/jquery/dist/jquery.js"></script>

  <script src="/socket.io/socket.io.js"></script>  
  <script src="js/timbre.dev.js"></script>
  <script src="js/jquery.countdown.js"></script>
  <script>
    $("#clock").countDown();
  </script>
  <script src="js/chatclient.js"></script>
  <script src="js/playlistLoader.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  </body>
</html>
