<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.html %>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  </head>
  <body>

    <% include partials/login.html %>

    <div id="main-wrapper">
    <% include partials/header.html %>
    <% include partials/channel.html %>
    </div><!-- main-wrapper -->
    

  <script src="/socket.io/socket.io.js"></script>  
  <script src="js/timbre.dev.js"></script>
  <script src="js/chatclient.js"></script>
  <script src="js/playlistLoader.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  </body>
</html>
