<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.html %>
    <link rel="stylesheet" type="text/css" href="css/onair_style.css" media="screen" />
  </head>
  <body>

    <% include partials/login.html %>

    <div id="main-wrapper">
      <% include partials/header.html %>
      <% include partials/livestream.html %>
    </div><!-- main-wrapper -->
      
      <% include partials/chat.html %>

  <script src="components/jquery/dist/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>  
  <script src="js/chatclient.js"></script>
 
  </body>
</html>
