body {
  font-size:62.5%;      
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height:1.2;
  /*background-image: url('../img/bg.jpg');*/
}
h1 {
  font-size: 3em;
  color: #5e594d;
  text-transform: uppercase;
  line-height: 1;
}
h2 {
  font-size: 2em;
  font-weight:bold;
}
h3 {
  font-size: 1.8em;
  background-color:yellow;
  padding:0.5em;
}
a {
  text-decoration:none;
}

#main-wrapper{
  width:100%;
  font-size:1.3em;
  margin:auto;
}

header {
  height:3em;
}
header h1 {
  float:left;
  background-color:red;
}
#about-info {
  float:left;
  width:70%;
  margin-left:2em;
  padding:0.3em;
}
#about-info a {
  font-weight:bold;
  color:green;
  font-size:1.4em;
}

#channel-wrapper {
  width:100%;
  margin:auto;

}
#channel-main-row {
}

#ytapiplayer {
  width:720px;
  height:720px;
  float:left;
  border:1px solid black;
}

#myytplayer {
  width:720px;
  float:left;
  border:1px solid black;
}
#video-sidebar {
  float:left;
  border:1px solid black;
  width:calc(100% - 780px);
  padding:1em;
  margin-left:0.3em;
}
#video-list-container {
}

#video-list-container a {
}

#video-page-navigation a {
  font-size:1.2em;
  background-color:green;
  color:#ffffff;
}
#video-info p {
  padding-top:1em;
  padding-bottom:1.4em;
}

#playlist-container {
  background-color:#ffffff;
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  height:4em;
  background-color:#C2C2D6;
}
#playlists a {
  font-size:1.5em;
}

#psc-link {
  float:right;
  background-color:yellow;
  font-size:3em;
}

#stream-wrapper {
  width:320px;
  padding:1em;
  border:1px black solid;
  margin-bottom:4em;
}
#livestream {
  width:320px;
  height:240px;
  
}

#chat {
  background-color:white;

  width:calc(100% - 720px);
  overflow:scroll;  
}
form { background: rgba(152, 35, 44, 0.5); padding: 3px; position: fixed; bottom: 0; width: calc(100% - 720px); }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: rgba(152, 255, 44, 0.4); }


/* CLEARFIX BY Nicolas Gallagher */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}


@media only screen and (max-width: 640px) {

}
