
/*
////////////////////////////////////////////////////////////////////////////////////////
GENERAL CRAP 
////////////////////////////////////////////////////////////////////////////////////////
*/


body {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-size:62.5%;      
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height:1.2;
  /*background-image: url('../img/bg.jpg');*/
}
h1 {
  font-size: 3em;
  color: #5e594d;
  text-transform: uppercase;
  line-height: 1;
}
h2 {
  font-size: 2em;
  font-weight:bold;
}
h3 {
  font-size: 1.8em;
  background-color:yellow;
}
a {
  text-decoration:none;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////
CLEARFIX BY Nicolas Gallagher 
////////////////////////////////////////////////////////////////////////////////////////
*/


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////
MAIN STRUCTURE 
////////////////////////////////////////////////////////////////////////////////////////
*/


#main-wrapper{
  width:100%;
  font-size:1.3em;
  margin:auto;
  z-index:0;
}

header {
  height:3em;
}

header h1 {
  float:left;
  background-color:red;
}

#about-info {
  float:left;
  width:70%;
  margin-left:2em;
  padding:0.3em;
}

#about-info a {
  font-weight:bold;
  color:red;
  font-size:1.4em;
}


/* 
////////////////////////////////////////////////////////////////////////////////////////
TV CHANNEL 
////////////////////////////////////////////////////////////////////////////////////////
*/


#channel-wrapper {
  width:98%;
  margin:auto;

}

#ytapiplayer {
  width:720px;
  height:576px;
}

#myytplayer {
  float:left;
}

#video-sidebar {
  float:left;
  background-color:#B0F0F5;
  width:calc(100% - 800px);
  padding:1em;
  margin-left:0.3em;
}
#video-list-container {
}


#video-page-navigation a {
  font-size:1.2em;
  background-color:#F5B5B0;
  color:#ffffff;
}

#video-info {
  padding-top:1em;
}

#video-info p {
  padding-top:1em;
}

#playlist-container {
  background-color:#ffffff;
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  height:2em;
  background-color:#C2C2D6;
}

#playlists a {
  font-size:1.5em;
}


#stream-wrapper {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  width:660px;
  padding:1em;
  background-color:#FBDBFF;
  float:left;
}

#livestream {
  width:640px;
  height:480px;
}

/* CLOCK */

#clock {
  font-size:2em;
  background-color:yellow;
}



@media only screen and (max-width: 640px) {

}
