
            <div id="stream-wrapper">
              <h2>
                Pizza Suicide TV LIVE
              </h2>
              <div id="livestream">Loading the player ...</div>
              <iframe width="640" height="480" src="https://www.youtube.com/embed/XwOdDStVtKg" frameborder="0" allowfullscreen>
              </iframe>
<!--
              <script type="text/javascript">
                jwplayer("livestream").setup({
                //width : 320,
                //height : 240,
                width : 640,
                height : 480,
                file: "rtmp://vps59272.ovh.net/live/psctv",
                //file: "images/20160115hellogoodbye-tv-poster.jpg",
                repeat: true,
                image: "img/placeholder02.jpg",
                autostart:true,
                });
              </script> 
              <script>
              var player = new Clappr.Player({
                source: 'http://185.14.185.30/live/psctv/index.m3u8',
                parentId: "#livestream",
                autPlay: true,
                plugins: { playback: [Clappr.HLS] },
                baseUrl: '/latest',
                poster: 'images/20160115hellogoodbye-tv-poster.jpg',
                mute: true,
                height: 480,
                width: 640
              });
              </script>
-->
              <p>
                <%= tagline %>
                <a href='/playlists'>the regular show</a>
              </p>
            </div><!--stream-wrapper-->
